<a href="https://colab.research.google.com/github/lymc33/Data_Analysis/blob/main/Google_ads_location_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Xlsx to Google drive and make imports

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!pwd
%cd "/content/gdrive/MyDrive/Archivos para GIT"
!ls

/content
/content/gdrive/MyDrive/Archivos para GIT
'GAds Location Data.xlsx'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/gdrive/MyDrive/Archivos para GIT/GAds Location Data.xlsx")

### Data cleaning

In [ ]:
list(df.columns)

['City (User location)',
 'Leads',
 'Purhchases',
 'Qualified Lead_All conv.',
 'Unqualified Lead_All conv.',
 'Cost',
 'Purchase Value',
 'CPL',
 'CPA',
 'leads 2 purchase']

In [ ]:
# Rename without spaces
df.columns = [c.replace(' ', '_') for c in df.columns]

In [ ]:
list(df.columns)

['City_(User_location)',
 'Leads',
 'Purhchases',
 'Qualified_Lead_All_conv.',
 'Unqualified_Lead_All_conv.',
 'Cost',
 'Purchase_Value',
 'CPL',
 'CPA',
 'leads_2_purchase']

In [ ]:
df.shape

(437, 10)

In [ ]:
#Data visualization
df.head()

,City_(User_location),Leads,Purhchases,Qualified_Lead_All_conv.,Unqualified_Lead_All_conv.,Cost,Purchase_Value,CPL,CPA,leads_2_purchase
0,Abohar,0.0,0.0,0.0,0.0,287.88,0.0,NaN,NaN,NaN
1,Abu Dhabi,0.0,0.0,0.0,0.0,441.16,0.0,NaN,NaN,NaN
2,Adoni,0.0,0.0,0.0,1.0,24.18,0.0,NaN,NaN,NaN
3,Badlapur,0.0,0.0,0.0,0.0,575.12,0.0,NaN,NaN,NaN
4,Barshi,0.0,0.0,0.0,0.0,128.40,0.0,NaN,NaN,NaN

In [ ]:
# Fill NaN to 0 and delete no leads and no purchases
df=df.fillna(0)
df = df[df.Leads != 0]
df = df[df.Purchase_Value != 0]
df.shape

(57, 10)

### Proposals for Best places (PB)

### BP 1

In [ ]:
# Calculate relation between Cost and Purchase values for rentability
df["C/P"] = df['Cost'] / df['Purchase_Value']

In [ ]:
BP1=df
BP1.shape

(57, 11)

### BP 2

In [ ]:
Max_value = df["C/P"].loc[df["C/P"].idxmax()]     
print(Max_value)

23.440825

In [ ]:
Min_value = df["C/P"].loc[df["C/P"].idxmin()]      
print(Min_value)

0.001571142857142857

In [ ]:
Mean_value = df["C/P"].mean()
print(Mean_value)

0.8078862908994567

In [ ]:
BP2 = df[df["C/P"] >= Mean_value]
BP2.shape

(9, 11)

### BP 3

In [ ]:
# Calculate relation between Cost and Purchase values per lead
df["C/P_lead"] = df["C/P"] / df['Leads']
df.shape

(57, 12)

In [ ]:
Max_value2 = df["C/P_lead"].loc[df["C/P_lead"].idxmax()]      
print(Max_value2)

0.2757744117647059

In [ ]:
Min_value2 = df["C/P_lead"].loc[df["C/P_lead"].idxmin()]     
print(Min_value2)

0.0006897591138832132

In [ ]:
Mean_value2 = df["C/P_lead"].mean()
print(Mean_value2)

0.02463517035838658

In [ ]:
BP3 = df[df["C/P_lead"] >= Mean_value2]
BP3.shape

(21, 12)

### Results

In [ ]:
# Best places 1, only purchases (57 countries)
BP1['City_(User_location)'].tolist()

['Kumily',
 'Jalna',
 'Satna',
 'Shamli',
 'Tanda Range',
 'Hazaribagh',
 'Nilje Gaon',
 'Rajahmundry',
 'Motihari',
 'Jagdalpur',
 'Bhagalpur',
 'Bhilai',
 'Mirzapur',
 'Nagaur',
 'Purnia',
 'Rohtak',
 'Tiruppur',
 'Udupi',
 'Asansol',
 'Bhiwani',
 'Panchkula',
 'Puducherry',
 'Hisar',
 'Kottayam',
 'Kanpur',
 'Mira Bhayandar',
 'Thane',
 'Pimpri-Chinchwad',
 'Madurai',
 'Udaipur',
 'Hyderabad',
 'Faridabad',
 'Mysuru',
 'Ghaziabad',
 'Patna',
 'Noida',
 'Gurgaon',
 'Navi Mumbai',
 'Ludhiana',
 'Bengaluru',
 'Chennai',
 'Chandigarh',
 'Mumbai',
 'Kolkata',
 'Pune',
 'New Delhi',
 'Coimbatore',
 'Karnal',
 'Bhopal',
 'Bhubaneswar',
 'Varanasi',
 'Ahmedabad',
 'Delhi',
 'Lucknow',
 'Indore',
 'Jalgaon',
 'Jaipur']

In [ ]:
# Best place 2, Cost and Purchase values for rentability(9 countries)
BP2['City_(User_location)'].tolist()

['Faridabad',
 'Patna',
 'Chennai',
 'Chandigarh',
 'Pune',
 'Delhi',
 'Lucknow',
 'Indore',
 'Jaipur']

In [ ]:
# Best place 3, Cost and Purchase values per lead (21 countries)
BP3['City_(User_location)'].tolist()

['Jalna',
 'Satna',
 'Hazaribagh',
 'Bhilai',
 'Purnia',
 'Rohtak',
 'Tiruppur',
 'Udupi',
 'Asansol',
 'Bhiwani',
 'Panchkula',
 'Hisar',
 'Kottayam',
 'Faridabad',
 'Mysuru',
 'Patna',
 'Chandigarh',
 'Coimbatore',
 'Indore',
 'Jalgaon',
 'Jaipur']